* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-container {
  color: #ffc107;
  background-color: #343a40;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.25);
}

.menu {
  border: 1px solid #fff;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu-refresh {
  font-size: 1.5em;
}

.btn {
  width: 100px;
}

grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (max-width: 700px) {
  .menu h1 {
    font-size: 10px;
  }
}
